@{
    Layout = null;
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nancy</title>
</head>
<body>
    <div>
        <h1>HelloNancy  @Model.name</h1>
    </div>
</body>
</html>
